<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>
<div class="container d-flex justify-content-center ">

    <!-- Write your contents here -->
    <div class="card " style="border-radius: 15px; width:500px; margin-top:60px;">
        <div class="card-body">
            <div class="mt-3 mb-4 text-center">
                <img src="images/Adminlogo.png" style=width:10rem; class="rounded-circle img-fluid" style="width: 100px;" />
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">Award</p>
                </div>
                <div class="col-sm-6">
                    <p class="text-muted mb-0">Role Star</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">Image URL</p>
                </div>
                <div class="col-sm-6">
                    <p class="text-muted mb-0">https://github/Tenacious/A5/Image3</p>
                </div>
            </div>
            <hr>
            <br>
            <div class="button-group text-center mt-3">
                <a href="Awards List.html" class="btn btn-primary pull-left btn btn-info ">Back </a>
            </div>