<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>
<div class="container d-flex justify-content-center table-box">

    <form class="border-box position-relative">

        <span class="border-box-tip"><b>Add Employee</b></span>

        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label for="firstName" class="col-form-label">First Name</label>
                <input type="text" id="firstName" class="form-control" aria-describedby="firstNameHelpInline">

            </div>

            <div class="col-auto p-1.5">
                <label for="firstName" class="col-form-label">Last Name</label>
                <input type="text" id="firstName" class="form-control" aria-describedby="firstNameHelpInline">

            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label for="inputPassword6" class="col-form-label">Password</label>


                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>

            <div class="col-auto p-1.5">
                <label for="aceid" class="col-form-label">AceID</label>

                <input type="text" id="aceid" class="form-control" aria-describedby="aceidHelpInline">
            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">

                <label for="email" class="col-form-label">Email</label>

                <input type="email" id="email" class="form-control" aria-describedby="emailHelpInline">

            </div>

            <div class="col-auto p-1.5">
                <label class="col-form-label">Employee Image</label>

                <input type="file" id="image" class="form-control " aria-describedby="imageHelpInline">

            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label for="org" class="col-form-label">Organisation</label>

                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                              <option selected>Choose...</option>
                              <option value="1">Development</option>
                              <option value="2">Testing</option>
                              <option value="3">Support</option>
                            </select>
                </div>
            </div>

            <div class="col-auto p-1.5">


                <label for="dept" class="col-form-label">Department</label>


                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                              <option selected>Choose...</option>
                              <option value="1">Development</option>
                              <option value="2">Testing</option>
                              <option value="3">Support</option>
                            </select>

                </div>
            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">

            <div class="col-auto p-1.5">

                <label for="designation" class="col-form-label">Designation</label>


                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                              <option selected>Choose...</option>
                              <option value="1">Development</option>
                              <option value="2">Testing</option>
                              <option value="3">Support</option>
                            </select>

                </div>
            </div>


            <div class="col-auto p-1.5">

                <label for="rpname" class="col-form-label">Reporting Person Name</label>

                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                              <option selected>Choose...</option>
                              <option value="1">Development</option>
                              <option value="2">Testing</option>
                              <option value="3">Support</option>
                            </select>

                </div>
            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">

            <div class="col-auto p-1.5">
                <label for="hrname" class="col-form-label">HR Name</label>

                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                              <option selected>Choose...</option>
                              <option value="1">Development</option>
                              <option value="2">Testing</option>
                              <option value="3">Support</option>
                            </select>

                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center mt-5 button-group">
            <a [routerLink]="['../admin-employeecomponent']" class="btn btn-primary col-lg-2">Add</a>
            <button [routerLink]="['../admin-employeecomponent']" class="btn btn-primary col-lg-2">Cancel</button>
        </div>
    </form>
</div>


