<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>

<div class="container d-flex justify-content-center ">

    <!-- Write your contents here -->
    <div class="card " style="border-radius: 15px; width:500px; margin-top:60px;">
        <div class="card-body">
            <div class="mt-3 mb-4 text-center">
                <img src="images/Adminlogo.png" style=width:10rem; class="rounded-circle img-fluid" style="width: 100px;" />
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">First Name</p>

                    <p class="text-muted mb-0">Thenmozhi</p>
                </div>



                <div class="col-sm-6">
                    <p class="mb-0">Last Name</p>

                    <p class="text-muted mb-0">Dhanapal</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">ACE ID</p>

                    <p class="text-muted mb-0">ACE679</p>
                </div>


                <div class="col-sm-6">
                    <p class="mb-0">Email</p>

                    <p class="text-muted mb-0">then123@gmail.com</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">Organization</p>

                    <p class="text-muted mb-0">Develpoment</p>
                </div>

                <div class="col-sm-6">
                    <p class="mb-0">Department</p>
                    <p class="text-muted mb-0">Java</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">Designation</p>

                    <p class="text-muted mb-0">Senior Software Engineer</p>
                </div>

                <div class="col-sm-6">
                    <p class="mb-0">Reporting Person Name</p>

                    <p class="text-muted mb-0">Chitra Rajan</p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">HR Name</p>

                    <p class="text-muted mb-0">Sathya Anbazhagan</p>
                </div>
            </div>
            <br>
            <div class="button-group text-center mt-3">
                <a href="Employee List.html" class="btn btn-primary pull-left btn btn-info ">Back </a>
            </div>
