<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>
<div class="container d-flex justify-content-center table-box">

    <form class="border-box position-relative">

        <span class="border-box-tip"><b>Add Organisation</b></span>

        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label for="firstName" class="col-form-label">Organisation Name</label>
                <input type="text" id="firstName" class="form-control" aria-describedby="firstNameHelpInline">

            </div>
        </div>
       

        <div class="row justify-content-center align-items-center mt-5 button-group">
            <a [routerLink]="['../organisation']" class="btn btn-primary col-lg-2">Add</a>
            <button [routerLink]="['../organisation']" class="btn btn-primary col-lg-2">Cancel</button>
        </div>
    </form>
</div>
