<app-layout></app-layout>
<app-hr-side-bar></app-hr-side-bar>
<div class="container d-flex justify-content-center">
    <div class="container container-fluid " >
        <div>
            <div class="btn-group">
                <a [routerLink]="['../requester-Add-request']" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i>Add Request</a>
            </div>

            <select class="btn btn-group btn-primary" style="width:9rem;">
                <option>Status</option>
                <option>Pending</option>
                <option>Approved</option>
                <option>Rejected</option>
              </select>
          
            <div class="btn-group Search ml-4">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" />
                  <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
            </div>
            
        </div>
        <br>


        <table cellpadding="5" cellspacing="5" class="datatable table table-striped table-bordered">
            <thead>
                <tr class="text-center">
                    <th>ACE ID</th>
                    <th>Name</th>
                    <th>Award</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>ACE0123</td>
                    <td>Sanjay Subramani</td>
                    <td>First Victor</td>
                    <td>12-11-2022</td>
                    <td>Pending</td>
                    <td>
                        <a [routerLink]="['../requester-view']" class="btn btn-success" target="_self"><i class="fa-solid fa-circle-info" title="Details"></i></a>
                </tr>
                
                <tr class="text-center">
                    <td>ACE0893</td>
                    <td>Kathir Ramarajan</td>
                    <td>Role Star</td>
                    <td>25-04-2022</td>
                    <td>Pending</td>
                    <td> 
                        <a [routerLink]="['../requester-view']"class="btn btn-success" target="_self"><i class="fa-solid fa-circle-info" title="Details"></i></a>
                        
                </tr>

            </tbody>
        </table>


        <section id="Paging">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="btn btn-primary" href="#">1</a></li>
                    <li class="page-item"><a class="btn btn-primary" href="#">2</a></li>
                    <li class="page-item"><a class="btn btn-primary" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</div>
