<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>
<div class="container d-flex justify-content-center ">

    <div class="container container-fluid ">
        <div>
            <div class="btn-group">
                <a [routerLink]="['../add-award']" class="btn btn-primary"> <i class="fa-solid fa-trophy"></i>+ Add Awards </a>
            </div>
            <div class="btn-group search me-3">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control1" placeholder="search" />
                </div>
                <button type="button" class="btn btn-primary search">
                          <i class="fas fa-search" ></i>
                        </button>
            </div>
        </div>
        <br>

        <table class="datatable table table-striped table-bordered ">
            <thead>
                <tr class="text-center">
                    <th>Award ID</th>
                    <th>Award Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let item of data">
                    <td>{{item.id}}</td>
                    <td>{{item.awardName}}</td>
                    <td> <a [routerLink]="['../']" class="btn btn-primary" target="_self"><i class="fa-solid fa-pen-to-square" title="Edit"></i></a>
                        <a [routerLink]="['../']"  class="btn btn-success" target="_self"><i class="fa-solid fa-circle-info" title="Details"></i></a>

                        <a href="#" class="btn btn-danger" target="_self"><i class="fa-solid fa-user-slash" data-toggle="modal" data-target="#Mymodal"title="Disable"></i></a></td>
                    <div class="modal fade" id="Mymodal">
                        <div class="modal-dialog">
                            <div class="modal-content"> 
                                <div class="modal-header">
                                    <h4 class="modal-title text-center">
                                        Warning!
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Close
                                            </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Ok
                                            </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                
                </tr>
                
            </tbody>
        </table>
        <section id="Paging">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="btn btn-primary" href="#">1</a></li>
                    <li class="page-item"><a class="btn btn-primary" href="#">2</a></li>
                    <li class="page-item"><a class="btn btn-primary" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</div>

