<app-layout></app-layout>
<app-hr-sidebar></app-hr-sidebar>
<div class="container d-flex justify-content-center ">

    <div class="card " style="border-radius: 15px; width: 500px; margin-top: 30px;">
        <div class="card-body">
            <div class=" rounded-circle text-center">
                <img src="./assets/images/Adminlogo.png" width="150px" height="150px" />
              </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">ACEID</p>

                    <p class="text-muted mb-0">INT0664</p>
                </div>

                <div class="col-sm-6">
                    <p class="mb-0">Name</p>

                    <p class="text-muted mb-0">Anu</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">Designation</p>

                    <p class="text-muted mb-0">SE</p>
                </div>

                <div class="col-sm-6">
                    <p class="mb-0">Department</p>

                    <p class="text-muted mb-0">.net</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">Requester</p>

                    <p class="text-muted mb-0">Anitha</p>
                </div>

                <div class="col-sm-6">
                    <p class="mb-0">Award</p>

                    <p class="text-muted mb-0">Rolestar</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-0">Reason</p>

                    <p class="text-muted mb-0">For consistent performance</p>
                </div>

                <div class="col-sm-6">
                    <p class="mb-0">Status</p>

                    <p class="text-muted mb-0">Pending</p>
                </div>
            </div>

            <br>
            <div class="button-group text-center mt-3">
                <a [routerLink]="['/hr-request']" routerLinkActive="router-link-active"  class="btn btn-primary pull-left btn btn-info ">Back </a>
            </div>

        </div>
    </div>
</div>

