<app-layout></app-layout>
<div class="d-flex justify-content-center"  style="background-image: url('images\bg-3.jpg');">
    <div class="content" >
        <div class="MoreComments">
 <div class="d-flex justify-content-center">
    <div class="content" >
        <div class="MoreComments">
            <div class="card-group col-lg-12">
                <div  class="card  AllComment mb-6"   >
                    <div  class="container">
                    <div  class="profile1-card-3">
                       
                        <div class="profile-thumb-block1">
                            <img src="./assets/images/sundar.jpg" alt="profile-image" class="profile1" />
                        </div>
                        <img src="./assets/images/123.jpg" alt="profile-image" class="profile1" />
                    
                        <div class="greetingcomment">
                            <h5 class="card-title">Congratulation Sundar</h5>
                            <p class="card-text">Achieved Role star Award for performing consistently throughout the year.</p>
                        </div>
                    </div>
                </div>

                </div>
                <div class="card mb-6">
                    <div class="card-body">
                        <div class="row d-flex ">
                            <div class="form-outline mb-1">
                                <input type="text" id="addANote" class="form-control" placeholder="Type comment..." />
                                <label class="form-label" for="addANote">+ Add comments</label>
                            </div>
                            <div class="allcomments">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Johny</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row ">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                             height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                </div>
                                <p>Congratulation Sundar</p>
                               
                                </div>
                            

                        </div>

                    </div>
                </div>
                
              </div>
                     <div class="backbutton">

                     <button [routerLink]="['./homepage']" type="button" class="btn filter-button  btn-primary">Back</button>
                      </div>
        </div>
    </div>
</div> 