<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>
<div class="container d-flex justify-content-center table-box">

    <form class="border-box position-relative ">

        <span class="border-box-tip"><b>Edit Awards</b></span>

        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label for="firstName" class="col-form-label">Award Name</label>
                <input type="text" id="firstName" class="form-control" aria-describedby="firstNameHelpInline" Value="Role Star">

            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label for="firstName" class="col-form-label">Picture URL</label>
                <input type="text" id="firstName" name="Hema" class="form-control" aria-describedby="firstNameHelpInline" Value="https://github/Tenacious/A5/Image3">

            </div>
        </div>


        <div class="row justify-content-center align-items-center mt-5 button-group">
            <a href="Awards List.html" class="btn btn-primary col-lg-2">Edit</a>
            <a href="Edit Awards.html" class="btn btn-primary col-lg-2">Cancel</a>
        </div>
    </form>
</div>

