<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>

<div class="container d-flex justify-content-center table-box">

    <form class="border-box position-relative" #updateDesignationForm="ngForm" (ngSubmit)="updateDesignation()">

        <span class="border-box-tip"><b>Edit Designation</b></span>

        <div class="row g-3 align-items-center justify-content-center mb-3">
           

            <div class="col-auto p-1.5">
                <label for="firstName" class="col-form-label">Designation</label>
                <input type="text" name="DesignationName" id="Designation.designationName" class="form-control" value={{data.designationName}} #Designation.designationName >
                

            </div>
        </div>
        


            <div class="row justify-content-center align-items-center mt-5 button-group">
                <button  type="submit" class="btn btn-primary col-lg-2" >Edit</button>
                <a  [routerLink]="['../designation']" class="btn btn-danger col-lg-2">Cancel</a>
            </div>
    </form>
   
    
    </div>
