<app-layout></app-layout>
<app-requester-sidebar></app-requester-sidebar>
<div class="container d-flex justify-content-center">
    
    <div class="container container-fluid rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-5">
                
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Raise Request</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">User Name</label><input type="text" class="form-control" placeholder="first name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 form-group" id="Award">
                            <label for="exampleFormControlSelect1">Award</label>
                            <select class="form-control" id="awardType">
                              <option>Select Award Type</option>
                              <option>Role Star</option>
                              <option>Solo Star</option>
                              <option>Tech Thunder</option>
                              <option>First Victor</option>
                              <option>Gladiator</option>
                            </select>
                        </div> 
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Reason</label><textarea type="textarea" class="form-control" placeholder="Reason" ></textarea></div>
                    </div>
              
            </div>
            <div class="d-flex  justify-content-between text-center col-md-3">
                <div class="d-flex flex-column align-items-center text-center p-3 ml-4"><img class="rounded-circle mt-10" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Saravana Subramani</span></div>
                <div class="d-flex flex-column align-items-center text-center p-3 ml-4"><img class="rounded-circle mt-10" width="150px" src="./assets/images/123.jpg"><span class="font-weight-bold">Finext Award</span></div>
            </div>
        </div>
        <div class="py-4 justify-content-between text-center">
            <div class="mr-10 btn-group "><a [routerLink]="['../requester-request']" class="btn btn-primary profile-button" type="button">Submit</a></div>
            <div class="ml-5 btn-group"><a [routerLink]="['../requester-request']" class="btn btn-danger profile-button" type="button">Cancel</a></div>
        </div>
    </div>
    
    </div>
     
